<h1>Listing his_mats</h1>

<table>
  <thead>
    <tr>
      <th>History</th>
      <th>Material</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @his_mats.each do |his_mat| %>
      <tr>
        <td><%= his_mat.history_id %></td>
        <td><%= his_mat.material_id %></td>
        <td><%= link_to 'Show', his_mat %></td>
        <td><%= link_to 'Edit', edit_his_mat_path(his_mat) %></td>
        <td><%= link_to 'Destroy', his_mat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New His mat', new_his_mat_path %>
