<h1>编辑用户资料</h1>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email , :email地址 %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :name , :昵称 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password ,:新密码 %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation ,:确认新密码 %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :mood, :个人简介 %><br>
    <%= f.text_field :mood %>
  </div>
  <div class="actions">
    <%= f.submit "确认修改" , class: "btn btn-large btn-primary" %>
  </div>
<% end %>
<%= link_to '放弃修改', '/show_me' %> |
<%= link_to '回到主页', root_path %>
