<%= form_for(@post) do |f| %>
	<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<%#  <%= f.hidden_field nil, :user_id ,current_user +|%>
	<div class="field">
		<%= f.hidden_field :user_id , value: current_user.id %>
	</div>
	<div class="field">
		<%= f.text_field :title, placeholder: "请输入标题" %>
	</div>
	<div class="field">
		<%= f.text_area :content, onkeypress: 'ctrlEnter(event, "submit")', style: 'width:95%', rows: 12, placeholder: "请输入正文" %>
	</div>
  <div class="field">
    <% unless @post.file_records.blank? %>
      <div id="attachment" class="pull-right">
        <span>附件</span>
        <% @post.file_records.each do |file| %>
          <%= link_to file.file_name, file.url %>
          <%= link_to(file, method: DELETE) if is_mine?(@post) %>
          <br />
        <% end %>
      </div>
    <% end %>
    <input type="file" multiple="true" name="files[]" />
  </div>
	<div class="actions">
		<%= f.submit '提交', class: 'btn btn-primary', id: 'submit' %>
	</div>
<% end %>
