<p id="notice"><%= notice %></p>
<% @post.viewed_times += 1 and @post.save unless signed_in? && current_user == @post.user %>

<h2><%= @post.title %></h2>
<% comments_count = @post.comments.count %>
<%= image_tag @post.user.portrait_url, class: "portrait_s" %>
<%= link_to @post.user.name ,@post.user %> 发表于 <%= @post.created_at %>
  <span class="pull-right">
    <%= "阅览(#{@post.viewed_times})  评论(#{comments_count})" %>
  </span>
<hr />
<div class="content">
  <%= simple_format @post.content %>
</div>
<% if is_mine?(@post) %>
  <%= link_to '编辑', edit_post_path(@post) %> |
<% end %>
<hr />
<wb:share-button appkey="3ffQaP" addition="full" type="button" default_text="<%= @post.title %>（分享自好门的博客）" class="pull-right"></wb:share-button>
<div>
  <h3>评论列表</h3>
  <%= comments_count == 0 ? "还没有人评论。" : "共有#{comments_count}条评论"  %>
  <br />
  <% cmtcount = 0 + (@page.to_i - 1 ) * PostsController.per_page %>
  <% @comments.each do |comment| %>
    <div class="pull-left comment-portrait">
      <%= image_tag comment.user.portrait_url, class: "portrait_s" %>
    </div>
    <div class="comment-content pull-left">
      <%= cmtcount += 1 %>楼
      <%= link_to comment.user.name, comment.user %> &nbsp;&nbsp; 发表于：<%= comment.created_at %>
      <%= simple_format comment.content %>
      <a target="_self" onclick="repo('<%= cmtcount %>','<%= comment.user.name %>')" style="cursor:pointer;">回帖</a>
      <%= link_to '删除评论', comment, method: :delete, data: { confirm: '确定删除本条评论吗？' } if is_mine?(comment) %>
      <hr />
    </div>
  <% end %>
  <%= will_paginate( @comments, :prev_label=>'上一页',:next_label=>'下一页',:separator=>" | ") %>
</div>

<% if signed_in? %>
  <%= form_for(Comment.new) do |c| %>
    <%= c.hidden_field :user_id , value: current_user.id %>
    <%= c.hidden_field :post_id , value: @post.id %>
    <%= c.text_area :content , style: 'width:100%', onkeypress: 'ctrlEnter(event, "commit");' %>
    <%= c.submit '提交评论',   class: 'btn btn-primary', id: 'commit' %>
    <input type="button" onclick="clearRepoArea()" value="清空输入框" class="btn" />
  <% end %>
<% end %>
<%= link_to_function "返回", "history.go(-1)" %>
