<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
        <% @material.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-borderd">
    <tr class="field">
      <td>食材名</td>
      <td><%= f.text_field :name, placeholder: "食材名" %></td>
    </tr>
    <tr class="field">
      <td>种类</td>
      <td><%= f.text_field :m_type , placeholder: "种类"%></td>
    </tr>
    <tr class="field">
      <td>购买单位</td>
      <td><%= f.text_field :buy_unit , placeholder: "购买单位"%></td>
    </tr>
    <tr class="field">
      <td>购买单价</td>
      <td><%= f.text_field :buy_price, placeholder: "购买单价"%></td>
    </tr>
    <tr class="field">
      <td>2顿单位</td>
      <td><%= f.text_field :cook_unit, placeholder: "2顿单位" %></td>
    </tr>
    <tr class="field">
      <td>2顿数量</td>
      <td><%= f.text_field :cook_count, placeholder: "2顿数量" %></td>
    </tr>
    <tr class="field">
      <td>2顿价格</td>
      <td><%= f.text_field :cook_price, placeholder: "2顿价格" %></td>
    </tr>
    <tr class="field">
      <td>剩余</td>
      <td><%= f.text_field :now, placeholder: "剩余" %></td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit '提交', class: 'btn btn-primary', id: 'submit' %>
  </div>
<% end %>
